@import "tailwindcss";
:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  outline: none;
}
a{
  cursor: pointer;
}
.transition-class {
  transition: all 0.4s ease-in-out;
}
.gradient-text{
  background: linear-gradient(90deg, #11101D, #797886);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}







 

